body {
    background: rgb(241, 14, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span {
    display: none;
}

button{
    background: #26b4ff;
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
    font-family: 'Righteous', cursive;
    border-radius: 20%;
}